/aritmatika.c
/aritmatika.exe
/aritmatikaLoop.c
/aritmatikaLoop.exe
/deklarasiVariabel.c
/deklarasiVariabel.exe
/forloop.c
/forloop.exe
/fungsi.c
/fungsi.exe
/fungsiBasic.c
/fungsiBasic.exe
/grade.c
/grade.exe
/hadiahSupermarket.exe
/if-else.c
/if-else.exe
/kalkulator.c
/kalkulator.exe
/output
/pointer_array.c
/ptr.c
/ptr.exe
/ptrLanjutan.c
/ptrLanjutan.exe
/tes.c
/tes.exe
/void.c
/void.exe